
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pending Holiday Requests</title>
</head>
<body>
    <h1>List of Pending Holiday Requests</h1>
    <ul>
        <% holidayRequests.filter(request => request.status === 'pending').forEach(request => { %>
            <li>
                <strong>Request ID:</strong> <%= request.idForRequest %>, 
                <strong>Employee ID:</strong> <%= request.employeeId %> (<%= getNameById(request.employeeId) %>), 
                <strong>Start Date:</strong> <%= request.startDate.toLocaleDateString('en-CA') %>,
                <strong>End Date:</strong> <%= request.endDate.toLocaleDateString('en-CA') %>
				<form id="deleteForm" action="/delete/<%= request.idForRequest %>" method="POST">
					<input type="hidden" name="employeeId" value="<%= request.employeeId %>">
					<button type="submit">Delete</button>
				</form>
            </li>
        <% }); %>
    </ul>
</body>
<script>
document.querySelectorAll('form').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
        const formId = this.getAttribute('action');
        const employeeId = this.querySelector('input[name="employeeId"]').value;
        const requestId = formId.split('/').pop();
        if (requestId !== undefined) { // Ensure requestId is not undefined
            fetch(`/delete/${requestId}`, {
                method: 'DELETE',
                body: new FormData(this)
            })
            .then(response => {
                if (response.ok) {
                    this.closest('li').remove(); // Remove the <li> element containing the deleted request
                    console.log("Request deleted successfully");
                } else {
                    console.error('Failed to delete request');
                    throw new Error('Failed to delete request');
                }
            })
            .catch(error => {
                // Handle error if needed
                console.error('An error occurred:', error);
            });
        } else {
            console.error('requestId is undefined');
        }
    });
});

</script>
</html>